<section class="playground-container components-section">
	<h1 class="playground-title components-title">Playground</h1>

	<div class="playground-content components-content">
		<div class="playground-input">
			<div class="html-box">
				<label class="html-label">HTML</label>
			</div>
			<div class="css-box">
				<label class="css-label">CSS</label>
			</div>
			<div class="javascript-box">
				<label class="javascript-label">JavaScript</label>
			</div>
		</div>

		<div class="playground-output">
			<iframe class="playground-iframe"></iframe>
		</div>
	</div>
</section>
