.playground-container {

}

.playground-content {
	max-width: 1000px;

	display: flex;
	gap: 20px;
}

.playground-content > * {
	flex: 1;
	border: 1px solid #ccc;
	padding: 10px;
}

.playground-input,
.playground-output {
	overflow: hidden;
}

.playground-input {

}

.playground-input > * {
	flex: 1;
}

.playground-output {

}

.playground-iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.html-box,
.css-box,
.javascript-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}

.cm-editor {
	height: 150px;
	overflow: auto;
}
