<style>
    #spinbox {
        border: 1px solid #ccc;
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        min-width: 100px;
        min-height: 30px;
        width: 150px;
    }

    #spinbox > * { width: 100%; height: 100%; border: none; }
    #spinbox > button { background-color: #ccc; }

    #input {
        padding: 0;
        text-align: center;
    }

    #input:focus { outline: none; }
    #input::-webkit-inner-spin-button { appearance: none; }
</style>

<div id="spinbox">
    <button id="minus">-</button>
    <input id="input" type="number">
    <button id="plus">+</button>
</div>