<style>
    #spinbox {
        width: 100%;
        height: 100%;
        display: grid;
    }

    #spinbox > * { width: 100%; height: 100%; border: none; }
    #spinbox > button { cursor: pointer; }

    #input {
        padding: 0;
        text-align: center;
    }

    #input:focus { outline: none; }
    #input::-webkit-inner-spin-button { appearance: none; }
</style>

<div id="spinbox">
    <button id="minus">-</button>
    <input id="input" type="number">
    <button id="plus">+</button>
</div>