<style>
	:host {
		position: fixed;

		top: 90%;
		left: 50%;

		transform: translate(-50%, 10px);
		opacity: 0;

		animation: toast-fade linear forwards;

		border-radius: 5px;
	}

	#box {
		padding: 5px 10px;
	}

	@keyframes toast-fade {
		0% {
			transform: translate(-50%, 10px);
			opacity: 0;
		}
		10% {
			transform: translate(-50%, 0);
			opacity: 1;
		}
		90% {
			transform: translate(-50%, 0);
			opacity: 1;
		}
		100% {
			transform: translate(-50%, 10px);
			opacity: 0;
		}
	}
</style>

<div id="box">
	<span id="text"></span>
</div>
