#docs-container {
	display: flex;
	gap: 20px;
}

.docs-container-aside {
	width: 150px;
	height: 100%;
}

.docs-container-aside > nav > ul li {
	margin-bottom: 5px;
	padding-left: 5px;
}

.docs-container-aside > nav > ul li:hover {
	background-color: #ecebeb;
}

.docs-container-article {
	width: 1000px;
	height: 100%;
	/* overflow: hidden; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}





.docs-section {
	margin-bottom: 30px;
}

.docs-title {
	margin-bottom: 20px;
}

.docs-content {

}
