:root {
	--primary-1: #EBF4DD;
	--primary-2: #F6F0D7;
	--primary-3: #C5D89D;
	--primary-4: #9CAB84;
	--primary-5: #89986D;
	--grey-6: #424242;
	--grey-5: #616161;
	--grey-4: #9e9e9e;
	--grey-3: #bdbdbd;
	--grey-2: #e0e0e0;
	--grey-1: #f5f5f5;

	--grey-divider: var(--grey-2);
}
