:root {
	--container-padding: 30px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

li:hover {
	cursor: pointer;
}

.divider {
	width: 100%;
	min-height: 0.5px;
	margin: 10px 0;
	background-color: var(--grey-divider);
}
