html,
body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	height: 70px;

	display: flex;
	gap: 100px;
}

header > figure {
	width: 70px;
	height: 70px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 30px;
}

header > nav {
	flex: 1;
	display: flex;
	align-items: center;
}

header > nav > ul {
	width: 100%;
	display: flex;
}

header > nav > ul > li {
	flex: 1;
}

#logo {
	width: 100%;
	height: 100%;
	padding: 10px;
	object-fit: cover;
}

#logo:hover {
	cursor: pointer;
}

main {
	width: 100%;
	display: flex;
	padding: 20px;
}

footer {
	width: 100%;
}
