#logo {
	width: 100%;
	height: 100%;
	padding: 10px;
	object-fit: cover;
}

#logo:hover {
	cursor: pointer;
}

nav > figure {
	width: 70px;
	height: 70px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 30px;
}
