.preview-container {
    width: 100%;
    height: 100%;

    display: flex;
    gap: 20px;
}

.preview-container > * {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
}

.preview-input,
.preview-output {
    overflow: hidden;
}

.preview-input {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.preview-input > * {
    flex: 1;
}

.preview-output {
    height: 100%;
}

.preview-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.html-box,
.css-box,
.javascript-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.cm-editor {
    overflow: auto;
}