<style>
    .spinbox {
        border: 1px solid #ccc;
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        min-width: 100px;
        min-height: 30px;
        width: 150px;
    }

    .spinbox > * { width: 100%; height: 100%; border: none; }
    .spinbox > input[type=number]::-webkit-inner-spin-button { appearance: none; }
    .spinbox > input[type=number] { text-align: center; }
    .spinbox > button { background-color: #ccc; }
</style>

<div class="spinbox">
    <button class="minus">-</button>
    <input class="input" type="number">
    <button class="plus">+</button>
</div>